//@import "fonts";
//@import "libs/clean.scss";
//@import "libs/mediaquery.scss";
@import "../../node_modules/bootstrap-scss/bootstrap.scss";

.internet-contection-error {
	text-align: center;
}

.header {
	background-color: #ccc;
	padding: 20px 0;
}

.btn-name-container {
	text-align: center;
}

.header-inputs {
	padding: 20px;
}

.btn-name {
	width: 100%;
}

.header-alerts {
	margin-top: 10px;
}

.btn-dropdown {
	margin-top: 15px;
}

.card-wrapper {
	margin: 20px auto 0 auto;
}

.wrapper {
	margin-top: 30px;
}

.card-sub-title {
	margin-bottom: 25px !important;
}

.person-full-name {
	margin-bottom: 0;
}

.text-color-blue {
	color: #007bff;
}

.text-color-orange {
	color: #ff8300;
}

.card-image {
	margin-bottom: 20px;
}

.card-wrapper {
	position: relative;
}

.person-preloader-wrapper {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s ease;
}

.person-preloader-wrapper._active {
	opacity: 1;
	visibility: visible;
}